.vscode/*
functionsToTest.exe
/OOD Test Harness/x64/Debug/OOD Test Harness.tlog
/OOD Test Harness/x64/Debug
/OOD Test Harness
/.vs
/OOD-Test-Harness/x64/Debug
/OOD-Test-Harness/OOD-Test-Harness.sln
/OOD-Test-Harness/OOD-Test-Harness.vcxproj
/OOD-Test-Harness/OOD-Test-Harness.vcxproj.filters
/OOD-Test-Harness/OOD-Test-Harness.vcxproj.user
/OOD-Test-Harness/.vs/OOD-Test-Harness
/OOD-Test-Harness/OOD-Test-Harness/x64/Debug
/MathClient
/MathLibrary
*.vsidx
/DLL1/.vs/DLL1/FileContentIndex/035f74c1-8d5e-48ab-800a-935eea6e573d.vsidx
/DLL1/.vs/DLL1/FileContentIndex/1f5ea1d8-dab8-4cbe-8471-2c2a8ca42a3a.vsidx
/DLL1/.vs/DLL1/FileContentIndex/54ed43ec-2d10-4d7d-a4e7-24035831c361.vsidx
/DLL1/.vs/DLL1/FileContentIndex/6345b484-037c-4c21-8bed-9128d90fdb01.vsidx
/DLL1/.vs/DLL1/FileContentIndex/9c3ea064-7c30-4340-9256-5e2590fe60c1.vsidx
*.ipch
/DLL1/.vs/DLL1/v17/ipch/AutoPCH/525848cff8052ec7/DLLMAIN.ipch
/DLL1/.vs/DLL1/v17/.suo
/DLL1/.vs/DLL1/v17/Browse.VC.db
*.db-wal
*.db-shm
/DLL1/.vs/DLL1/v17/Browse.VC.opendb
/DLL1/.vs/DLL1/v17/DocumentLayout.backup.json
/DLL1/.vs/DLL1/v17/DocumentLayout.json
*.db
/DLL3/.vs/DLL3/v17/.suo
/DLL3/.vs/DLL3/v17/Browse.VC.opendb
/DLL3/.vs/DLL3/v17/DocumentLayout.json
/DLL4/.vs/DLL4/v17/.suo
/DLL4/.vs/DLL4/v17/Browse.VC.opendb
/DLL4/.vs/DLL4/v17/DocumentLayout.json
